
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}


body{

  background-size: cover;
  height: 100vh;
}

.front{
    font-family: 'Poppins', sans-serif;
     color: #1BC17A;
}

.wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.contact-form{

  display: flex;
  max-width: 550px;
  margin: 0 auto;
  background: #59987C;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
 background: rgb(106, 219, 179,0.4);
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #00BF7A;
  padding: 10px;
  color: black;
  width: 100%;
 
}
a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #51C598;
  font-size: 0.9rem;
  transition: .3s;
}

a:hover{
  color: #1FAA70;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #343934;

}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
    background: #47C399;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.wave{
 text-align: right; 
  
  }
@media screen and (max-width: 900px){
  .container{
    grid-template-columns: 1fr;
  }



  .login-content{
    justify-content: center;
  }
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  
}

  .img{

   position: absolute; 
   right: 100; 
   bottom: 0;
  
   
  }

  